/* font weight */

.fwnm {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}

/* font size */

.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs34 {
  font-size: 34px;
}
.fs36 {
  font-size: 36px;
}
.fs38 {
  font-size: 38px;
}
.fs40 {
  font-size: 40px;
}
.fs42 {
  font-size: 42px;
}
.fs45 {
  font-size: 45px;
}
.fs56 {
  font-size: 56px;
}