/** ATOM CSS */

@import './atom-css/flex.scss';
@import './atom-css/box.scss';
@import './atom-css/color.scss';
@import './atom-css/font.scss';
@import './atom-css/functional.scss';

/** font */
@import url('../fonts/index.scss');

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: rgba(0,0,0,.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  font-family: 'Noto Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  resize: none;
}
*:focus,
*:hover {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


/** ICONFONT */
// @font-face {
//   font-family: 'iconfont';  /* project id 1166007 */
//   src: url('//at.alicdn.com/t/font_1166007_o1l0rpzrjkp.eot');
//   src: url('//at.alicdn.com/t/font_1166007_o1l0rpzrjkp.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_1166007_o1l0rpzrjkp.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_1166007_o1l0rpzrjkp.woff') format('woff'),
//   url('//at.alicdn.com/t/font_1166007_o1l0rpzrjkp.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_1166007_o1l0rpzrjkp.svg#iconfont') format('svg');
// }
@import url('//at.alicdn.com/t/font_1166007_1a3cjsy17f5.css');
.iconfont {
  font-size: 18px;
}
