p,
div,
span {
  word-wrap: break-word;
}
::selection {
  background-color: rgba(0,0,0,.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // display: inline-block;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
}
h1 {
  border-bottom: 1px solid #eee;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  padding: 0 .3em;
  font-size: 90%;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  margin-top: 0;
}
p {
  display: inline;
}

/** blockquote */

blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
blockquote:last-of-type {
  margin-bottom: 1em;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  margin-top: .5em;
  margin-bottom: 0;
  padding-bottom: .3em;
  border-bottom: 0;
}
blockquote blockquote h1,
blockquote blockquote h2,
blockquote blockquote h3,
blockquote blockquote h4,
blockquote blockquote h5,
blockquote blockquote h6,
blockquote blockquote:last-of-type {
  margin: 0;
}

/** code */

code {
  padding: 0 .45em;
  font-size: 85%;
  border-radius: 4px;
  background-color: rgba(0,0,0,.04);
}

::-webkit-scrollbar {
  width: 6px;
  height: 100%;
  background: rgba(0,0,0,.06);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.1);
  border-radius: 3px;
}
